<div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
        <!-- Logo icon -->
        <b><img src="images/logo.png" alt="homepage" class="dark-logo" /></b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span><img src="images/logo-text.png" alt="homepage" class="dark-logo" /></span>
        </a>
        </div>
        <!-- End Logo -->
        <div class="navbar-collapse">
        <!-- toggle and nav items -->
        <ul class="navbar-nav mr-auto mt-md-0">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link toggle-nav hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggle hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <!-- Messages -->
        </ul>
        <!-- User profile and search -->
        <ul class="navbar-nav my-lg-0">
        <!-- Comment -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right mailbox animated slideInRight">
            <ul>
                <li>
                    <div class="drop-title">Notifications</div>
                </li>
                <li>
                    <div class="header-notify">
                        <!-- Message -->
                        <a href="#">
                            <i class="cc BTC m-r-10 f-s-40" title="BTC"></i>
                            <div class="notification-contnet">
                                <h5>Test BTC</h5> <span class="mail-desc">BTC</span> 
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <i class="cc LTC m-r-10 f-s-40" title="BTC"></i>
                            <div class="notification-contnet">
                                <h5>Test LTC coin</h5> <span class="mail-desc">LTC</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <i class="cc DASH m-r-10 f-s-40" title="BTC"></i>
                            <div class="notification-contnet">
                                <h5>Test DASH coin</h5> <span class="mail-desc">DASH</span>
                            </div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <i class="cc XRP m-r-10 f-s-40" title="BTC"></i>
                            <div class="notification-contnet">
                                <h5>Test XRP coin</h5> <span class="mail-desc">XRP</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center" href="javascript:void(0);"> Check all notifications <i class="fa fa-angle-right"></i> </a>
                </li>
            </ul>
        </div>
        </li>
        <!-- End Comment -->
        <!-- Profile -->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
        <div class="dropdown-menu dropdown-menu-right animated slideInRight">
            <ul class="dropdown-user">
                <li role="separator" class="divider"></li>
                <li><a href="/profile"> Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/setting"> Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#!">
                    <span class="logout">Logout</span>
                  </a></li>
            </ul>
        </div>
        </li>
        </ul>
        </div>
    </nav>
</div>
