<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebar-menu">
              <li class="nav-devider"></li>
                <li> <a href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>
            <li class="nav-devider"></li>
              <li> <a href="/trading" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu"> Trading</span></a></li>
              <li> <a href="/transactions" aria-expanded="false"><i class="fa fa-money"></i><span class="hide-menu"> Deposit / Withdrawal</span></a></li>
              <li> <a href="/staking" aria-expanded="false"><i class="ti-wallet m-r-5"></i><span class="hide-menu" style="margin-left: -1px;">Staking</span></a></li>
              <li> <a href="/profile" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu"> Profile</span></a></li>
              <li> <a href="/kyc" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu"> KYC</span></a></li>
              </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->