<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebar-menu">
              <li class="nav-devider"></li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
              </li>
              <li class="nav-label">Layout</li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Layout</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="layout-blank.html">Blank</a></li>
                      <li><a href="layout-boxed.html">Boxed</a></li>
                      <li><a href="layout-fix-header.html">Fix Header</a></li>
                      <li><a href="layout-fix-sidebar.html">Fix Sidebar</a></li>
                  </ul>
              </li>
              <li class="nav-label">Apps &amp; Charts</li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Mailbox</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="email-compose.html">Compose</a></li>
                      <li><a href="email-read.html">Read</a></li>
                      <li><a href="email-inbox.html">Inbox</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
                  <ul aria-expanded="false" class="collapse">
                      
                      <li><a href="chart-morris.html">Morris</a></li>
                      <li><a href="chart-chartjs.html">ChartJs</a></li>
                      <li><a href="chart-chartist.html">Chartist </a></li>
                      <li><a href="chart-amchart.html">AmChart</a></li>
                      <li><a href="chart-echart.html">EChart</a></li>
                      <li><a href="chart-sparkline.html">Sparkline</a></li>
                      <li><a href="chart-peity.html">Peity</a></li>
                  </ul>
              </li>
              <li class="nav-label">Features</li>
              <li> <a href="/#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Ui Elements</span></a>
              </li>
             
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>