<body class="header-fix fix-sidebar">
    <!-- Main wrapper  -->
    <div id="load"></div>
    <div id="main-wrapper">
        <% include ../partials/navbar2 %>
            <!-- End header header -->
            <% include ../partials/sidebar %>
                <!-- Page wrapper  -->
                <div class="page-wrapper">
                    <!-- Bread crumb -->
                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center1">
                            <h3 class="text-primary">Dashboard</h3>
                        </div>
                        <div class="col-md-7 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Bread crumb -->
                    <!-- Container fluid  -->
                    <div class="container-fluid">
                        <!-- Start Page Content -->
                        <div class="row">
                            <div class="col-12">
                                <div class="running_price">
                                    <div class="running_price2"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover=" width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="box">
                                            <div class="box1"><iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=859&pref_coin_id=1505" width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="box">
                                        <div class="box1"><iframe src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=145&pref_coin_id=1505" width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# row -->
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Trade History</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="trade-history-table">
                                            <div class="table-responsive">
                                                <table class="table table-xs">
                                                    <thead>
                                                        <tr>
                                                            <th>Price($)</th>
                                                            <th>Amount</th>
                                                            <th>Date</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="margin:0 auto; width: 200px;">
                                                    <img class="no-data" src="SVG/no-data-label.svg" alt="no-data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Sell Order</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="trade-history-table">
                                            <div class="table-responsive">
                                                <table class="table table-xs">
                                                    <thead>
                                                        <tr>
                                                            <th>Price per BTC</th>
                                                            <th>BTC Ammount</th>
                                                            <th>Total($)</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="margin:0 auto; width: 200px;">
                                                    <img class="no-data" src="SVG/no-data-label.svg" alt="no-data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-title">
                                        <h4>Buy Order</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="trade-history-table">
                                            <div class="table-responsive">
                                                <table class="table table-xs">
                                                    <thead>
                                                        <tr>
                                                            <th>Price per BTC</th>
                                                            <th>BTC Ammount</th>
                                                            <th>Total($)</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div style="margin:0 auto; width: 200px;">
                                                    <img class="no-data" src="SVG/no-data-label.svg" alt="no-data" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End PAge Content -->
                    </div>
                    <!-- End Container fluid  -->
                    <!-- footer -->
                    <footer class="footer text-center"> © 2021 VietKoin All Right Reserved.</footer>
                    <!-- End footer -->
                </div>
                <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <% include ../partials/scripts %>
</body>